footer{
margin-top: 2.5%;
border-top: 3px solid #b20000;
 }
 
footer svg{
height: 50px;
width: 50px;
margin: 1% 0;
}

.footer-linkedin:hover{
position: relative;
fill: white;
transition: .8s;
transform-origin: 50% 50%;
animation: footerSVG .4s ease-in-out 0.3 forwards;
}

.footer-github:hover{
position: relative;
fill: white;
transition: .8s;
transform-origin: 50% 50%;
animation: footerSVG .4s ease-in-out 0.3 forwards;
}


